.pp{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5%;
    text-align:center;
    font-size:900%;
    color: rgb(226, 43, 64);
}
.xx{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    text-align: center;
    font-size: 250%;
}
.oo{
    text-align: center;

}