.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 40vh;
    margin-top: 75px;
    font-family: 'Times New Roman', Times, serif;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 70px;
}